:root {
  --background: #68C6BD;
  --dark: #459296;
}

.App {
  height: 100vh;
  background-color: var(--background);

  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (min-width: 320px) and (max-width: 360px)  {
  .App {
    height: 100vh;
    background-color: var(--background);

    display: grid;
    grid-template-rows: auto 2fr auto;
  }
}
