.countries {
  margin-top: 20px;
  background-color: #68C6BD;

  display: grid;
  justify-items: center;
}

.search-bar {
  margin-bottom: 10px;
  width: 610px;
  height: 70px;
  background-color: #459296;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 5px 1px #68C6BD;
  display: grid;
  place-items: center;
}

.search-bar > input {
  font-size: 20px;
  padding-left: 10px;
  color: #459296;
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.countries > .list {
  margin-bottom: 10px;
  width: 680px;
  height: 550px;
  overflow-y: auto;
  overflow-x: hidden;

  display: grid;
  justify-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #459296;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;

  display: grid;
  place-self: center;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card {
  margin-top: 5px;
  width: 640px;
  height: 175px;
  background-color: #CEF5F1;
  

  display: grid;
  grid-template-rows: 40px 440px;
  grid-template-columns: 320px 300px;
  justify-items: start;
  row-gap: 20px;
}

.card > .country {
  grid-row: 1/2;
  color: #E85F5F;
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  width: 800px;

  display: grid;
  grid-template-columns: 300px auto;
}

.column-1 {
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 19px;
  font-weight: bold;
  margin-left: 20px;
  color: #1F8D81;
}

.column-1 > div {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25px;
}

.column-1 > div > span:last-of-type {
  justify-self: end;
}

.column-2 {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 19px;
  color: #1F8D81;
  font-weight: bold;
}

.column-2 > div {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25px;
}

.column-2 > div > span:last-of-type {
  justify-self: end;
}

@media (min-width: 768px) {
  .countries > .list {
    width: 680px;
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;

    display: grid;
    justify-items: center;
  }
}


@media (max-width: 670px) {
  .countries {
    margin-top: 20px;
    background-color: #68C6BD;

    display: grid;
    justify-items: center;
  }

  .search-bar {
    margin-bottom: 10px;
    width: 300px;
    height: 70px;
    background-color: #459296;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px 1px #68C6BD;
    display: grid;
    place-items: center;
  }

  .search-bar > input {
    font-size: 20px;
    padding-left: 10px;
    color: #459296;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 10px 10px 10px 10px;
  }

  .countries > .list {
    margin-bottom: 20px;
    width: 300px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;

    display: grid;
    justify-items: center;
  }
  .card {
    margin-top: 5px;
    width: 300px;
    height: 180px;
    background-color: #CEF5F1;
    

    display: grid;
    grid-template-areas:
      'country'
      'column1'
      'column2';
    justify-items: start;
    row-gap: 20px;
  }
  
  .card > .country {
    grid-area: country;
    color: #E85F5F;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    width: 800px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  }

  .column-1 {
    grid-area: column1;
    font-size: 19px;
    font-weight: bold;
    margin-left: 10px;
    color: #1F8D81;
  }

  .column-1 > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .column-2 {
    grid-area: column2;
    font-size: 19px;
    font-weight: bold;
    margin-left: 10px;
    color: #1F8D81;
  }

  .column-2 > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


@media (max-width: 670px) and (max-width: 500px) and (min-width: 320px) {
  .countries {
    margin-top: 20px;
    background-color: #68C6BD;

    display: grid;
    justify-items: center;
  }

  .search-bar {
    margin-bottom: 10px;
    width: 300px;
    height: 70px;
    background-color: #459296;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 5px 1px #68C6BD;
    display: grid;
    place-items: center;
  }

  .search-bar > input {
    font-size: 20px;
    padding-left: 10px;
    color: #459296;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 10px 10px 10px 10px;
  }

  .countries > .list {
    margin-bottom: 20px;
    width: 300px;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;

    display: grid;
    justify-items: center;
  }
  .card {
    margin-top: 5px;
    width: 300px;
    height: 180px;
    background-color: #CEF5F1;
    

    display: grid;
    grid-template-areas:
      'country'
      'column1'
      'column2';
    justify-items: start;
    row-gap: 20px;
  }
  
  .card > .country {
    grid-area: country;
    color: #E85F5F;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    width: 800px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  }

  .column-1 {
    grid-area: column1;
    font-size: 19px;
    font-weight: bold;
    margin-left: 10px;
    color: #1F8D81;
  }

  .column-1 > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .column-2 {
    grid-area: column2;
    font-size: 19px;
    font-weight: bold;
    margin-left: 10px;
    color: #1F8D81;
  }

  .column-2 > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

