.footer {
    bottom: 0;
    height: 50px;
    background-color: #459296;
}

p {
    margin: auto;
    color: #ffffff;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    font-weight: bold;
}