.info {
    background-color: #68C6BD;

    display: grid;
    justify-items: center;
}

.info > .header {
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.info > .header:last-of-type {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.badge {
    margin-bottom: 20px;
    background-color: #68C6BD;
}

.latest {
    margin-bottom: 20px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    place-items: center;
}

.covid-info {
    width: 900px;
    height: 500px;
    background-color: #CEF5F1;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #1F8D81;

    display: grid;
    grid-auto-flow: row;
    justify-items: center;
}

.covid-info > p {
    color: #459296;
    font-size: 17px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .latest {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 5px;
        place-items: center;
    }

    .info > .header {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
    }
}

@media (max-width: 768px) {
    .latest {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 5px;
        place-items: center;
    }

    .info > .header {
        margin-top: 20px;
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
    }

    .covid-info {
        width: 700px;
        height: 500px;
        background-color: #CEF5F1;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 2px #1F8D81;
        overflow-y: auto;
        overflow-x: auto;

        display: grid;
        grid-auto-flow: row;
        justify-items: center;
    }

    .covid-info > p {
        color: #459296;
        font-size: 17px;
        font-weight: bold;
    }
}

@media (max-width: 680px) {
    .latest {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 10px;
        place-items: center;
        margin-bottom: 20px;
    }

    .info > .header {
        margin-top: 20px;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
    }

    .info > .header:last-of-type {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
    }

    .covid-info {
        width: 500px;
        height: 500px;
        background-color: #CEF5F1;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 2px #1F8D81;
        overflow-y: auto;
        overflow-x: auto;

        display: grid;
        grid-auto-flow: row;
        justify-items: center;
    }

    .covid-info > p {
        color: #459296;
        font-size: 15px;
        font-weight: bold;
    }
}

@media (max-width: 450px) {
    .latest {
        display: grid;
        grid-auto-flow: row;
        grid-gap: 10px;
        place-items: center;
        margin-bottom: 20px;
    }

    .info > .header {
        margin-top: 20px;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
    }

    .info > .header:last-of-type {
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
    }

    .covid-info {
        width: 300px;
        height: 500px;
        background-color: #CEF5F1;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 2px #1F8D81;
        overflow-y: auto;
        overflow-x: auto;

        display: grid;
        grid-auto-flow: row;
        justify-items: center;
    }

    .covid-info > p {
        color: #459296;
        font-size: 15px;
        font-weight: bold;
    }
}